.flex-container {
  display: flex;
}

.horizontal-box1 {
  flex:1; /* Takes up 1/3 of the available space */
  border: 1px solid #ccc;
  padding: 10px;
  background-color: aquamarine;
}
.horizontal-box1 h1,h2
{
  text-transform: capitalize;
}
.horizontal-box1 h2{
  color: brown;
}
.profile-image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.vertical-box {
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap; /* Enable wrapping into multiple columns */
  border: 1px solid #ccc;
  padding: 10px;
  
  gap: 10px; 
}

.box-horizontal h3,h4{
 text-align: left;

}

.box-horizontal{
  padding-left: 10px;
  padding-right: 60px;
}
.box-horizontal1{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

}
.box-horizontal1{
  padding-right: 30px;
  padding-left: 10px;
}
.box-horizontal1 h3{
  text-align: left;
}

/* Add some styling for better visualization */
.flex-container {
  margin: 20px;
}

.horizontal-box2 {
  background-color: #f0f0f0;
  flex:2;
  border: 1px solid #ccc;
  padding: 10px;
  

}

.vertical-box {
  background-color: #e0e0f0;
  margin-bottom: 10px;
}
.spa1{
  color: green;
  
}
.spa2{
  color: red;
}
.spa3{
  color: blue;
}

.h{
  color: white;
  text-align: center;
}
.box-horizontal button{
  position: absolute;
  top: 2%;
  right: 5%;
  color: white;
  background-color: black;
  width: 50px;
  height: 20px;
  border-radius: 10px;
}
.box-horizontal button:hover{
  background-color:red;
}
.modals {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Ensure it appears above other content */
  transition: transform 0.3s ease;
}

.modal-contents {
  background-color:black;
  padding: 20px;
  border: 2px solid white;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: background-color 0.3s ease;
  padding-top: 30px;
}
.closess{
  top: 10px;
  position: absolute;
  right: 10px;
  
  cursor: pointer;
  color: white;
}
.closess:hover{
  color: red;
}
#bt:hover{
  background-color: beige;
  color:black;
}
.modal-contents h3{
  color: white;
  text-align: center;
}