.form-group select {
    background:none;
    color: white;

    border: 2px solid white;
     /* Change this to your desired background color */
    /* Add any other styling you want for the <select> element */
  }
option,optgroup{
  color:black;
}
input{
  border-radius: 0px;
  
}
.heading p{
  color: white;
}
.form{
  justify-content: center;
  align-items: center;
}
.formss{
  display: grid;
  grid-template-columns: repeat(2, minmax(270px, 1fr)); 
  gap: 30px;
}
@media (max-width: 768px) {
  .formss{
    display: grid;
    grid-template-columns: repeat(1, minmax(270px, 1fr)); 
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .formss{
    display: grid;
    grid-template-columns: repeat(1, minmax(270px, 1fr)); 
    gap: 20px;
  }
}